# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGO_URI=your_mongodb_connection_string_here

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRE=30d

# Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123

# Client (React)
REACT_APP_API_URL=http://localhost:5000/api
